<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
    		http://www.springframework.org/schema/beans/spring-beans.xsd
       		http://www.springframework.org/schema/context 
     		http://www.springframework.org/schema/context/spring-context.xsd
     		http://www.springframework.org/schema/tx  
			http://www.springframework.org/schema/tx/spring-tx.xsd"
       default-autowire="byName">
       
	<bean id="producer"
		class="com.alibaba.rocketmq.client.producer.DefaultMQProducer" 
		init-method="start" 
		destroy-method="shutdown">
		<!-- 命名服务地址 -->
		<property name="namesrvAddr" value="${mq.namesrvAddr}"/>
		<!-- 生产者名称 -->
		<property name="instanceName" value="${mq.instanceName}" />
		<property name="producerGroup" value="${mq.producerGroup}"></property>
		
	</bean> 
	
	<!-- MQ消费者Bean -->
	
	<bean id="consumer" class="com.le.jr.rocketmq.spring.MQPushConsumerBean">
		<!-- Topic -->
		<property name="topic" value="${mq.amprofit.investOrRedeemTopic}" />
		<!-- subExpression 
		<property name="subExpression" value="*" />
		-->
		<property name="consumer">
			<bean class="com.alibaba.rocketmq.client.consumer.DefaultMQPushConsumer">
			    <!-- 消费者组名 -->
				<property name="consumerGroup" value="${mq.amprofit.consumerGroup}" />
				<!-- 命名服务地址 -->
				<property name="namesrvAddr" value="${mq.namesrvAddr}" />
				<!-- 消费者实例名称 -->
				<!-- <property name="instanceName" value="${mq.trade.instanceName}" /> -->
			</bean>
		</property>
		<!-- 消息监听器列表 -->
		<property name="messageListener">
			
				<bean class="com.le.jr.am.profit.service.listener.AmProfitMQListener"/>
			
		</property>
	</bean>
	
	
	
	
	
</beans> 